<h1 align="center">
	MONCTON MOMENTS CONTEST<br />
	OFFICIAL RULES
</h1>


<h4>
	The city of Moncton is looking for participants to submit:
</h4>
<h4>
	(i) a photograph that showcases the entrant and/or his/her family at one of his/her/their favourite locations or participating in one of his/her/their
	favourite activities within the area of Moncton, New Brunswick, Canada
</h4>
<h4>
	OR
</h4>
<h4>
	(ii) a video (45 - 90 seconds in length) that either showcases the entrant and/or his/her family at one of his/her/their favourite locations or
	participating in one of his/her/their favourite activity within the area of Moncton, New Brunswick, Canada.
</h4>

<h4>
	Please read the Official Rules below for more details including how to submit a photograph if not taken within the city of Moncton, New Brunswick, Canada.
</h4>

<h4>
	NOTE: All photographs and videos will be available for viewing to the general public within the City of Moncton Facebook page.
</h4>
	<br/>

<h4>
	<u>NO PURCHASE NECESSARY:</u>
</h4>
<p>
	1. <strong>ELIGIBILITY:</strong> To be eligible for the "Moncton Moments" Contest (the "<strong>Contest</strong>") a person (an "<strong>entrant</strong>")
	must: (a) be a legal resident of Canada, residing in Canada who is of the age of majority in his/her province or territory of residence at the time of
	entry; and (b) have and use only one (1) profile and one (1) valid email address to participate in the Contest. Employees, officers, and directors (and
	members of their immediate families and the same household) of The City of Moncton, New Brunswick, Canada (<strong>"Sponsor"</strong>), [insert prize
	suppliers names]; their affiliates, the Selection Committee, advertising or promotional agencies, suppliers of materials or services related to the Contest
	are not eligible to participate in any of the sections of the Contest. For these Official Rules, "immediate family" means mother, father, sister, brother,
	son, daughter and spouse, including common law spouse, regardless of where they reside. Groups, clubs, organizations, businesses and commercial and
	non-commercial entities cannot participate. You may use only one (1) email address to participate in the Contest.
</p>
<p>
	The Sponsor shall have the right at any time to require proof of identity and/or eligibility to participate in the Contest. Failure to provide such proof
	may result in disqualification. All personal and other information requested by and supplied to the Sponsor for the purpose of the Contest must be
	truthful, complete, accurate and in no way misleading. The Sponsor reserves the right, in its sole discretion to disqualify any entrant should such an
	entrant at any stage supply untruthful, incomplete, inaccurate or misleading personal details and/or information.
</p>
<p>
	<strong>2. </strong>
	<strong>CONTEST PERIODS:</strong>
	The Contest starts at 9:00:00 a.m. (ET) on May 21, 2013 and closes at 11:59:59 p.m. (ET) on October 22, 2013 (the <strong>"Contest Period"</strong>).
Within the Contest Period, the first step commences at 9:00:00 a.m. (ET) on May 21, 2013 and closes at 11:59:59 p.m. (ET) on August 26, 2013 (the "	<strong>Submission Period</strong>") and the second step commences at 9:00:00 a.m. (ET) on September 3, 2013 and closes at 11:59:59 p.m. (ET) on October
	22, 2013 (the "<strong>Voting Period</strong>"). During the Contest Period a week is defined as commencing at 12:00:00 a.m. (ET) on a Tuesday and ending at
	11:59:59 p.m. (ET) on a Monday (a "<strong>Week</strong>") except for the first submission week where the Week which commences at 9:00:00 a.m. (ET) on
	Tuesday May 21, 2013 and ends at 11:59:59 p.m. (ET) on May 27, 2013 and the first voting week where the Week commences at 9:00:00 a.m. (ET) on Tuesday
	September 23, 2013 and ends at 11:59:59 p.m. (ET) on Tuesday October 22, 2013. A day is defined as commencing at 12:00:00 a.m. (ET) and ending at 11:59:59
	p.m. (ET) (a "<strong>Day</strong>") except for the first day of the Submission Period and Voting Period where the Day commences at 9:00:00 a.m. (ET) and
	ends at 11:59:59 p.m. (ET). <strong>Note</strong>: There will be no submissions or votes accepted between 12:00:00 a.m. (ET) on August 27, 2013 and 8:59:59
	a.m. (ET) on September 3, 2013. The Contest computer system (the "<strong>Contest computer</strong>") is used to govern all computer and time-related
	aspects of the Contest and, among other things, is the official time-keeping device for the Contest.<strong></strong>
</p>
<p>
	The following components will be held during the Contest Period (<strong>Please refer to each sub-section after Rule 2 for further details):</strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>STEP 1 -SUBMISSION PERIOD</strong>
	<strong>:</strong>
</p>
<p>
	<strong> i. </strong>
Photographs and/or videos must be submitted between 9:00:00 a.m. (ET) on May 21, 2013 and 11:59:59 p.m. (ET) on August 26, 2013 (the<strong>"Submission Period"</strong>).<strong> All photographs and/or videos must be received by 11:59:59 p.m. (ET) on August 26, 2013 (the "</strong>	<strong>Submission Closing Date</strong><strong>").</strong><strong></strong>
</p>
<p>
	<strong> ii. </strong>
	<strong>
		During the Submission Period there will be fourteen (14) Weekly Submission Prizes available to be won amongst all eligible entries received each Week
		during the Submission Period (see Rule 12 below for more details).
	</strong>
	<strong></strong>
</p>
<p>
	<strong> iii. </strong>
	<strong>
		In addition during the Submission Period there will be four (4) Judges Selection Periods where all eligible Submissions received during each defined
		period (Group 1 between May 21, 2013 and June 17, 2013; Group 2 between June 18, 2013 and July 15, 2013; Group 3 between July 16, 2013 and August 5,
		2013; and Group 4 between August 6, 2013 and August 26, 2013) will be judged according to the defined criteria in Rule 8 below. The Submissions with
		the highest overall score as decided by the Judges during each defined period will be eligible for a Judges Selection Prize.
	</strong>
	<strong></strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>STEP 2</strong>
	<strong> </strong>
	<strong>-VOTING PERIOD:</strong>
</p>
<p>
	<strong> i. </strong>
	<strong>Voting will commence at 9:00:00 a.m. (ET) on September 3, 2013 and will end at 11:59:59 p.m. (ET) on October 22, 2013 (the "</strong>
	<strong>Voting Period</strong>
	<strong>"). All votes must be received by 11:59:59 p.m. (ET) on October 22, 2013 (the "</strong>
	<strong>Voting Closing Date</strong>
	<strong>").</strong>
	<strong></strong>
</p>
<p>
	<strong> ii. </strong>
	<strong>
		During the Voting Period there will be seven (7) Weekly Voting Prizes available to be won amongst all eligible votes received each Week during the
		Voting Period (see Rule 12 below for more details).
	</strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>STEP 3 - AWARDING OF BEST VIDEO AND PHOTOGRAPH PRIZE</strong>
	<strong>:</strong>
</p>
<p>
	<strong>
		Votes will be tabulated on or about October 29, 2013. The video submission with the highest number of eligible votes received during the Voting Period
		will be eligible for the Best Video Prize and the video submission with the second highest number of eligible votes received during the Voting Period
		will be eligible for the Runner-up Video Prize. The photograph submission with the highest number of eligible votes received during the Voting Period
		will be eligible for the Best Photograph Prize and the photograph submission with the second highest number of eligible votes received during the
		Voting Period will be eligible for the Runner-up Photograph Prize. Eligible entrants will be notified commencing on or about October 31, 2013. See Rule
		12 below for more details.
	</strong>
	<strong></strong>
</p>
<p>
	<strong>3. </strong>
	<strong>LIMITATIONS: </strong>
	<strong></strong>
</p>
<p>
i. A person may submit one (1) video or photograph submissions per Day during the Submission Period however each submission	<strong><u>must be unique</u></strong> (the video or photograph must be different than his/her previous submission). Each video or photograph submission
	must comply with the Rules regarding video and photograph submissions. Be sure to read Rule 4 below, before submitting a photograph or video.
</p>
<p>
	ii. A person can place one (1) vote for a video and one (1) vote for a photograph per Day during the Voting Period however a person will only receive one
	(1) entry for a Voting Prize.
</p>
<p>
	iii. Any individual who is found to have participated in excess of the LIMITS, or with more than one (1) email address, will be disqualified and all video
	and/or photographs submissions, or votes placed by such individual during the Contest Period will be disqualified. Proof of transmission (screenshots or
	captures, etc.) does not constitute proof of receipt. Video submissions, entries, or votes that are generated by script, macro, robotic, programmed, or any
	other automated means are prohibited and will be disqualified. Video or photograph submissions, or votes that are late, lost, stolen, illegible, contain
	false information, damaged, misdirected, mutilated, garbled or incomplete, altered or otherwise irregular, that have been submitted through illicit means
	or do not conform with or satisfy any or all of the conditions the Official Rules will be judged void. All photograph or video submissions, and votes
	become the property of Sponsor upon receipt and none will be returned.
</p>
<p>
	iv. <strong>IMPORTANT:</strong> Entrants, you may encourage your friends and other eligible individuals to view or vote for your photograph or video
	submission; however, you are not allowed to post, request, or offer any individual any form of incentive (example: will return votes), inducement, prize or
	chance of receiving any incentive, inducement, or prize in furtherance of receiving such individual's vote for any photograph or video submission. Any
	individual determined by the Sponsor and/or its representatives (in their sole and absolute discretion) to be engaging in such behaviour is subject to
	disqualification.
</p>
<p>
	v.
	<strong>
		For greater certainty, only the entrant who submitted the photograph or video will be eligible to win a Prize. There are no prizes for individuals who
		appear within a photograph or video.
	</strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	4. <strong>SUBMISSION REQUIREMENTS FOR STEP 1: </strong>The Sponsor is looking for either a photograph (black and white or color) or a video (45 - 90
	seconds in length) in English or French that showcases the entrant and/or his/her family at one of his/her/their favourite locations or participating in
	one of his/her/their favourite activities within the Moncton area of Moncton, New Brunswick, Canada. "Moncton Area" is defined as any location which is
	located within 45 minutes driving distance of the City of Moncton and within the Province of New Brunswick.
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>How to enter, without visiting Moncton, New Brunswick</strong>
	: If you are not in the Moncton area but wish to participate in the Contest, a person can take a photograph of himself/herself from their home location and
	he/she will be required to complete the following sentence with his/her submission: "My Moncton Moment is ......". The sentence must be completed in
English or French and in 50 words or less. . To view a list of activities or attractions offered by Tourism Moncton visit:	<a href="http://tourism.moncton.ca/SplashPages/TourismIndex.htm">http://tourism.moncton.ca/SplashPages/TourismIndex.htm</a>.
</p>
<p>
	<strong>RULES REGARDING YOUR PHOTOGRAPH:</strong>
</p>
<p>
	i. The photograph must be an individual's original creation or if the photograph has not been taken by the individual he/she must have the consent of, and
	a waiver of moral rights from, the videographer in and to the video and all components thereof to enter the Contest. The photograph must be taken after May
	1, 2013.
</p>
<p>
	<strong> RULES REGARDING A VIDEO</strong>
	:
</p>
<p>
	i. The video must be an individual's original creation created by the individual (entrant), and must be taken after May 1, 2013 or if the video has not
	been taken by the individual he/she must have the consent of, and a waiver of moral rights from, the videographer in and to the video and all components
	thereof to enter the Contest.
</p>
<p>
	ii. The video must be between 45 and 90 second in length and must be in one (1) of the following formats (wmv, 3gp, avi, mov, mp4, mpeg /mpegps, flv, swf,
	mkv or webm). The file size should not exceed 250 MB.
</p>
<p>
	iii. The video must NOT contain any music however it may contain the voice of the entrant.
</p>
<p>
	<strong>RULES FOR BOTH A PHOTOGRAPH AND A VIDEO</strong>
	:
</p>
<p>
	i. Photographs or video must not contain any reference to or likeness of any identifiable third parties unless it is a property owned or operated by the
	City of Moncton where it will be accepted. If a photograph or video contains reference to or likeness of any identifiable third parties consent must be
	obtained from all such individuals.
</p>
<p>
	ii. If a photograph or video includes or contains individuals, each individual must be a minimum of 18 years of age or older or if any individual appearing
	in the video is a minor (less than 18 years of age), the individuals must be the child or legal guardian of the entrant. Please ensure that for each
	individual who is of the age of majority in his/her province or territory of residence and who appears in your photograph or video that you have obtained
	consent and permission from all such individual(s) to post the photograph or video on Facebook.
	<strong>
		REMINDER: All photographs and videos will be posted for the public to view on Facebook. Be sure you understand Facebook Privacy Policy prior to posting
		any such photograph or video which includes other individuals
	</strong>
	.
</p>
<p>
	iii. Modifying, enhancing or altering a third party's pre-existing work does not qualify as an individual's original creation.
</p>
<p>
	iv. The photograph or video must not violate the rights of any third party. For example, your video or photograph must not defame, infringe or violate
	publicity or privacy rights of any person, living or deceased, or otherwise infringe upon any person's, entity's or organization's personal or proprietary
	rights, including but not limited to, intellectual property rights.
</p>
<p>
	v. The photograph or video must not contain any commercial content that promotes any product or service other than those offered by the Sponsor.
</p>
<p>
	vi. The photograph or video must not have been published previously, used commercially, submitted to another competition or contest, or won any other
	award.
</p>
<p>
	vii. The photograph or video must be in "good taste" and must not be explicit or offensive, as determined by the Selection Committee and/or the Sponsor, in
	its or their sole and absolute discretion.
</p>
<p>
	viii. Your right to submit a photograph or video must not be restricted in any way. The Sponsor's right to use the photograph or video shall not be
	restricted. You must be able to provide legal releases for unrestricted use of any photograph or video that includes a third party's name, likenesses, or
	work ("Third Party Elements") in a form satisfactory to Sponsor at the time of notification.
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>THE SPONSOR RIGHT TO THE PHOTOGRAPH OR VIDEO:</strong>
	By submitting a photograph or video, each entrant: (1) irrevocably, perpetually, and without limitation, grants the Sponsor the right to use, publish,
	adapt, sub-license, edit, dispose of, and/or modify such photograph or video and the concepts and Third Party Elements embodied therein in any way, in
	commerce, and in any and all media worldwide, and waive all your rights, including moral rights, in the photograph or video, without notice or
	compensation, and agree that you may be required to sign a release to that effect. This includes Sponsor using the photograph or video in marketing,
	advertising and promotional materials, without notice or compensation to you, or any other third party; (2) agree to irrevocably assign and transfer to or
	waive in favour Sponsor any and all rights, title, interest and claim, which you now have or may have in the future, to the photograph or video, and the
	concepts and Third Party Elements embodied therein, including without limitation, the copyright and/or moral rights therein, and sales, and licensing
	rights; (3) agree to not upload, download, distribute, disseminate, copy, reproduce your photograph or video or otherwise cause your photograph or video to
	be on any public website, and, (4) warrant that your photograph or video does not contravene or infringe on anyone else's copyright or other intellectual
	property, is not false, inaccurate or misleading &amp; does not violate any law or regulation; is not libellous, threatening or harassing; does not
	instigate others to commit illegal activities; and does not contain pornography; does not contain any viruses, worms, or other computer programming
	intended to or that could interfere with the ability of others to enjoy the Contest. The Sponsor reserves the right to reject any photograph or video that
	the Selection Committee or Sponsor, in its or their sole and absolute discretion, determine does not meet these Official Rules.
</p>
<p>
	Prior to any photograph or video being posted on the Contest website, all photograph and videos will be reviewed by the Sponsor or a designated agent
	within a twenty-four (24) to forty-eight (48) hour period of receipt. Any photograph or video, that the Sponsor or designated agent deems in its sole and
	absolute discretion to violate any terms and condition set forth in these Official Rules will be disqualified. Prior to your photograph or video being
	posted and/or being accepted, the Sponsor or the designated agent, reserves the right, in its sole and absolute discretion to edit or modify any photograph
	or video or request an entrant to modify, edit and/or re-submit his/her photograph or video, in order to ensure that the photograph or video complies with
	these Official Rules or for any other reason.
</p>
<p>
5. <strong>HOW TO SUBMIT A PHOTOGRAPH OR VIDEO</strong><strong>: </strong>Visit the City of Moncton Facebook page at	<a href="http://www.facebook.com/cityofmoncton">http://www.facebook.com/cityofmoncton</a>, during the Contest Period. Entrants can enter the Contest
	through the "Moncton Moments Contest application on the Facebook platform (the "<strong>Application</strong>"). Entrants can also find the Application on
	the "Contest" tab on the City of Moncton page on Facebook. All photographs and/or videos submitted will be viewed within Facebook "City of Moncton -
	Moncton Moments" page. By uploading your photograph or video you acknowledge that your photograph or video can be viewed by the public.
</p>
<p>
	i. Follow the on-screen instructions after selecting the Contest tab.
</p>
<p>
	ii. Enter you email address, and tick the box to confirm that you have read and agree to abide by the Contest Rules, click "Next".
</p>
<p>
	iii. <strong>First time Participants: </strong>Before you can submit a photograph or video you will need to complete the Registration Form with your first
	and last name, complete mailing address including postal code ; date of birth; daytime telephone number; tick the box if you would like to opt in to
	receive future communications from the City of Moncton, New Brunswick and select "Continue".
</p>
<p>
	iv. <strong>Returning Visitors:</strong> Enter your email address and tick the box to confirm that you have read and agree to abide by the Contest Rules,
	click "Next".
</p>
<p>
	v. <strong>Uploading a photograph or video:</strong>
</p>
<p>
	i. Click on the "browse or choose file" button to upload your photograph or video.
</p>
<p>
	ii. Tell us the location of where your photograph or video was taken.
</p>
<p>
	iii. If the photograph or video was not taken within the Moncton area, complete the following sentence in 50 words or less in either English or French: "My
	Moncton Moment is ......". Remember your answer must include an activity or an attraction offered by Tourism Moncton. To learn more about the activities or
	attractions visit: <a href="http://tourism.moncton.ca/SplashPages/TourismIndex.htm">http://tourism.moncton.ca/SplashPages/TourismIndex.htm</a>.
</p>
<p>
	iv. Tell us if the submitted photograph or video contains other individuals?
</p>
<p>
	v. If selected "yes" tell us if the photograph or video contains any individual who is not 18 years of age?
</p>
<p>
	vi. If selected "yes" confirm that you are the parent or legal guardian of the said minors in the photograph or video.
</p>
<p>
	vii. If the photograph or video contains individuals who are over 18 years of age, confirm that each person within the photograph or video has provided you
	with permission to post the photograph or video within Facebook? Remember photographs or videos can be viewed by the general public in the social media
	environment of Facebook.
</p>
<p>
	viii. Select "Submit."
</p>
<p>
	ix. <strong>Reminder:</strong> Be sure your photograph or video complies with the Rules regarding a Submission above.
</p>
<p>
	x. Upon receipt you will receive a "Thank you" message.
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>
		NOTE: If a photograph or video submitted contains any minor where the entrant is not the parent or legal guardian of the said minor(s) appearing in the
		photograph or video, the photograph or video submitted will not be accepted as an entry for the purpose of the privacy of the minors. If any submitted
		photograph or video contains any other individual who is not of the age of majority in his/her province of territory or if the Sponsor discovers that
		the individual submitting the photograph or video has not correctly answered the questions about who is appearing within the photograph or video, the
		Sponsor reserves the right at their sole discretion to disqualify such entry from the Contest without notice to the entrant.
	</strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>6. </strong>
	<strong>HOW TO PLACE A VOTE: </strong>
	Visit the City of Moncton Facebook page at <a href="http://www.facebook.com/cityofmoncton">http://www.facebook.com/cityofmoncton</a>, during the Contest
	Period. Entrants can enter the Contest through the "Moncton Moments Contest application on the Facebook platform (the "<strong>Application</strong>").
	Entrants can also find the Application on the "Contest" tab on the City of Moncton page on Facebook.<strong> </strong><strong></strong>
</p>
<p>
	i. <strong>Click on the "Vote Now" button. </strong>Enter you email address, and tick the box to confirm that you have read and agree to abide by the
	Contest Rules, and click the "Next" button.
</p>
<p>
	ii. <strong>First time Participants: </strong>Before you can submit a vote you will need to complete the Registration Form with your first and last name,
	complete mailing address including postal code; date of birth; daytime telephone number; tick the box if you would like to opt in to receive future
	communications from the City of Moncton, New Brunswick and select "Continue".
</p>
<p>
	iii. <strong>Returning Visitors: </strong>Enter your email address and tick the box to confirm that you have read and agree to abide by the Contest Rules,
	click "Next".
</p>
<p>
	iv. To place a vote during the Voting Period, review any or all photographs and/or videos and select one (1) photograph and/or one (1) video that you wish
	to vote for. A person can vote for one (1) photograph and one (1) video per Day however both votes must be placed within a single visit to the website per
	Day.
</p>
<p>
	v. Upon receipt you will receive a 'Thank you' message.
</p>
<p>
	7. <strong>SHARE WITH </strong><strong>A FRIEND POLICY: </strong>If you wish to share this Contest with your friends, then select the "Share this" button
	once you have completed an entry. Select your friend(s) within your profile. Upon receipt of your "Share" list, your friends will be sent an email and/or
	invite. Make sure you have your friend's permission before sending a notice and that they meet the eligibility requirements as defined in Rule 1 above,
	including without limitation, age and residency requirements. Email addresses of third parties submitted through the "Share this" will be used only to
	properly administer the Contest and will not otherwise be stored by the Sponsor. You must not use the Share this feature other than to invite friends to
	the Contest. Without limitation, you must not use the feature to send emails: (i) to strangers; (ii) multiple invitations to the same friend; (iii)
	unsolicited email; and (iv) "spam." You must not ask or otherwise encourage invited friends to enter the Contest.
</p>

<p>
	<strong>8. </strong>
	<strong>JUDGES SELECTION PROCESS: </strong>
	<strong></strong>
</p>
<p>
	<strong>SELECTION COMMITTEE:</strong>
	The selection committee will be comprised of five (5) employees of Sponsor and/or its promotion agency (the <strong>"Selection Committee"</strong>).
	Decisions of the Selection Committee are final and binding on all matters relating to this Contest. If your photograph or video submission is not selected
	as a Judges Selection, you have no recourse, regardless of whether your photograph or video submission is similar in content or likeness to another
	photograph or video submission.
</p>

<p>
	<strong>JUDGES SELECTION PRIZES - SELECTION CRITERIA:</strong>
	The Selection Committee will review all photographs and video submissions received during each defined group period based on the following Criteria. Each
	criteria will be weighted equally:
</p>
<p>
	Engagements/Participation/Persuasiveness;
</p>
<p>
	Entertainment/Originality;
</p>
<p>
	Capture "in the moment" clips (together, the <strong>"Criteria"</strong>).
</p>
<p>
	The total possible points, an individual may receive is 99 points. Each defined criteria will be weighted equally such that there is a maximum of 33 points
	per criteria.
</p>
<p>
	<strong>JUDGES SELECTION PRIZES - SELECTION PROCESS:</strong>
</p>
<p>
	All eligible photographs and videos submissions received during the defined periods (as defined below) will be reviewed, judged and scored in Moncton, NB
	according to the Criteria as defined above.
</p>
<p>
	<strong>Group 1:</strong>
	All eligible photographs and video submissions received between 9:00:00 a.m. (ET) on May 21, 2013 and 11:59:59 p.m. (ET) on June 17, 2013.
</p>
<p>
	<strong>Group 2:</strong>
	All eligible photographs and video submissions received between 12:00:00 a.m. (ET) on June 18, 2013 and 11:59:59 p.m. (ET) on July 15, 2013.
</p>
<p>
	<strong>Group 3:</strong>
	All eligible photographs and video submissions received between 12:00:00 a.m. (ET) on July 16, 2013 and 11:59:59 p.m. (ET) on August 5, 2013.
</p>
<p>
	<strong>Group 4:</strong>
	All eligible photographs and video submissions received between 12:00:00 a.m. (ET) on August 6, 2013 and 11:59:59 p.m. (ET) on September 26, 2013.
</p>
<p>
	The top photograph or video submissions within each defined Group will be awarded a Judges Selection Prize. Odds of your photograph or video submission
	being selected depend on the number and quality of photographs and video submissions received during each defined Group. In the event of a tie, the tied
	photographs and/or video submissions will be judged according to the Criteria as set out above by an additional Selection Committee member who will serve
	as the tiebreaker.
</p>
<p>
	<strong>Group 1: </strong>
	<strong>The review process will commence on June 19, 2013 and conclude on June 28, 2013. </strong>
	<strong></strong>
</p>
<p>
	<strong>Group 2: </strong>
	<strong>The review process will commence on July 17, 2013 and conclude on July 26, 2013. </strong>
	<strong></strong>
</p>
<p>
	<strong>Group 3: </strong>
	<strong>The review process will commence on August 7, 2013 and conclude on August 16, 2013. </strong>
</p>
<p>
	<strong>Group 4:</strong>
	<strong> The review process will commence on September 28, 2013 and conclude on October 4, 2013.</strong>
	<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>JUDGES SELECTION PRIZES - CONFIRMATION: </strong>
The Judges selection from each Group will be contacted by email within five (5) business days of the conclude date for Confirmation (see "	<strong>Winner Confirmation</strong>" below). In the event that any eligible photograph or video submission cannot be contacted within five (5) business
	days by email the eligible photograph or video submission will be disqualified, and at the sole and absolute discretion of the Selection Committee, another
	photograph or video submission will be selected and the entrant of the submission will be notified. The above process will be repeated until one (1)
	photograph or video submission has been confirmed per defined Group as a Judges Selection.
</p>
<p>
	9. <strong>WEEKLY SUBMISSION DRAWS: </strong>There will be a total of fourteen (14) random draws conducted by an independent contest organization. All
	draws will be held at 11:00 a.m. (ET) in Oakville, ON. All draws will be held on the Wednesday, following the close of the preceding Week. The first random
	draw will be held on May 29, 2013 for entries received between 9:00:00 a.m. (ET) on May 21, 2013 and 11:59:59 p.m. (ET) on May 27, 2013. Thereafter random
	draws will be held for entries received each Week during the Submission Period (June 5, 2013; June 12, 2013; June 19, 2013; June 26, 2013; July 3, 2013;
	July 10, 2013; July 17, 2013; July 24, 2013; July 31, 2013; August 7, 2013; August 14, 2013; August 21, 2013). The last draw will be held on August 28,
	2013 for entries received between 12:00:00 a.m. (ET) on August 20, 2013 and 11:59:59 p.m. (ET) on August 26, 2013. One (1) entrant will be randomly
	selected in each draw. Odds of winning a Weekly Submission Prize will depend on the total number of eligible entries received per Week. If for any reason
	whatsoever, no entries are received for any specific Week the Weekly Submission Prize will be awarded on the following Week. This process will continue
	until all prizes are awarded. Each selected entrant will be contacted by email, within five (5) business days of the date of the draw, and must be
	confirmed as a winner (see "<strong>Winner Confirmation</strong>" below). In the event that a selected entrant cannot be contacted within five (5) business
	days, the entrant will be disqualified, and at the sole and absolute discretion of the independent contest organization, and the above process will be
	repeated until a winner is confirmed for each Week or until September 30, 2013 whichever occurs first.
</p>
<p>
	<strong></strong>
</p>
<p>
	10. <strong>WEEKLY VOTING DRAWS:</strong> There will be a total of seven (7) random draws conducted by an independent contest organization. All draws will
	be held at 11:00 a.m. (ET) in Oakville, ON. All draws will be held on the Wednesday, following the close of the preceding Week. The first random draw will
	be held on September 11, 2013 for entries received between 9:00:00 a.m. (ET) on September 3, 2013 and 11:59:59 p.m. (ET) on September 9, 2013. Thereafter
	random draws will be held for entries received each Week during the Voting Period (September 18, 2013; September 25, 2013; October 2, 2013, October 9,
	2013, October 16, 2013). The last draw will be held on October 23, 2013 for entries received between 12:00:00 a.m. (ET) on October 15, 2013 and 11:59:59
	p.m. (ET) on October 22, 2013. One (1) entrant will be randomly selected in each draw. Odds of winning a Weekly Voting Prize will depend on the total
	number of eligible entries received per Week. If for any reason whatsoever, no entries are received for any specific Week, the Weekly Voting Prize will be
	awarded on the following Week. This process will continue until all prizes are awarded. Each selected entrant will be contacted by email, within five (5)
	business days of the date of the draw, and must be confirmed as a winner (see "<strong>Winner Confirmation</strong>" below). In the event that a selected
	entrant cannot be contacted within five (5) business days, the entrant will be disqualified, and at the sole and absolute discretion of the independent
	contest organization, and the above process will be repeated until a winner is confirmed for each Week or until November 15, 2013 whichever occurs first.
</p>
<p>
	11. <strong>BEST AND RUNNER UP PRIZES:</strong> On or about October 29, 2013 all confirmed votes will be reviewed and tabulated. The video submission that
	received the highest overall number of votes will be selected as an eligible <strong>Best Video Prize</strong> winner. The next video submission that
	received the next highest overall number of votes will be selected as eligible Runner-up Video Prize winner. The photograph submission that received the
	highest overall number of votes will be selected as an eligible <strong>Best Photograph Prize</strong> winner. The next photograph submission that received
	the next highest overall number of votes will be selected as eligible Runner-up Photograph Prize winner. Odds of receiving the highest overall number of
	votes or second highest overall number of votes depends on the quality of submission received, and the number of votes a submission received during the
	Voting Period. In the event of a tie, the tied submission will be judged according to the Criteria (see Rule 8 above) by an additional Selection Committee
	member who will serve as a tiebreaker. Each selected entrant will be contacted by email, within five (5) business days of the date of the draw, and must be
	confirmed as a winner (see "<strong>Winner Confirmation</strong>" below). In the event that a selected entrant cannot be contacted within five (5) business
	days, the entrant will be disqualified, and at the sole and absolute discretion of the independent contest organization, and the above process will be
	repeated until a winner is confirmed until November 15, 2013 whichever occurs first.
</p>
<p>
	<strong></strong>
</p>
<p>
	12. <strong>PRIZES:</strong> There are a total of twenty-nine (29) Prizes available to be won.
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>WEEKLY SUBMISSION PRIZES: </strong>
	<strong>
		There will be a total of fourteen (14) Weekly Submission Prizes available to be won with one (1) Weekly Submission Prize awarded each Week during the
		Submission Period.
	</strong>
</p>
<table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Weekly Submission Prize:</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Prize Description</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>Approximate retail value</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week one: </strong>
				</p>
				<p>
					<strong>May 21 - 27, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at the Residence Inn by Marriott located at 600 Main Street,
						Moncton, NB and four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$210.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week two: </strong>
				</p>
				<p>
					<strong>May 28 - June 3, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week three: </strong>
				</p>
				<p>
					<strong>June 4 - 10, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at the Travelodge Suites located 2475 Mountain Road, Moncton,
						NB and two (2) passes to Friday night "Frolics Alpine concert at Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$170.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week four: </strong>
				</p>
				<p>
					<strong>June 11 - 17, 2013 </strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week five: </strong>
				</p>
				<p>
					<strong>June 18 - 24, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Holiday Inn Express &amp; Suites, Mountain Road located at
						2515 Mountain Road, Moncton, NB and four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche,
						NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$200.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week six: </strong>
				</p>
				<p>
					<strong>June 25 - July 1, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week seven: </strong>
				</p>
				<p>
					<strong>July 2 - 8, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Chateau Moncton located at 100 Main Street, Moncton, NB and
						four (4) passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two (2) consecutive
						days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$174.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week eight: </strong>
				</p>
				<p>
					<strong>July 9 - 15, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week nine: </strong>
				</p>
				<p>
					<strong>July 16 - 22, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						Two (2) passes to Magic Mountain located at 2875 Mountain Road, Moncton, NB. Passes are subject to operating hours and are valid for
						201? Season. (Magic Mountain is open Monday to Sunday during the months of July August 2014 and weekends only in June 2014)
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$54.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week ten: </strong>
				</p>
				<p>
					<strong>July 23 - 29, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week eleven: </strong>
				</p>
				<p>
					<strong>July 30 - August 5, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week twelve: </strong>
				</p>
				<p>
					<strong>August 6 - 12, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>Four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, NB.</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$40.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week thirteen: </strong>
				</p>
				<p>
					<strong>August 13 - 19, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Super 8 Dieppe located at 370 Dieppe Blvd, Dieppe, NB and
						four (4) passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two (2) consecutive
						days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$153.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="170" valign="top">
				<p>
					<strong>Week fourteen: </strong>
				</p>
				<p>
					<strong>August 20 - 26, 2013</strong>
				</p>
			</td>
			<td width="293" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Holiday Inn Express &amp; Suites Dieppe Airport located at
						425 Adelard Savoie Blvd, Dieppe, NB and four (4) passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks
						admission is valid for two (2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$174.00 CDN</strong>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>JUDGES SELECTIONS: </strong>
	<strong>A total of four (4) Judge Selection Prizes are available to be won with one (1) Prize awarded for each defined Group Period.</strong>
</p>
<p>
	<strong></strong>
</p>
<table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="195" valign="top">
				<p>
					<strong>Judges Selection Period</strong>
				</p>
			</td>
			<td width="281" valign="top">
				<p>
					<strong>Prize Description</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>Approximate retail value</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="195" valign="top">
				<p>
					<strong>Group one: </strong>
				</p>
				<p>
					<strong>May 21, 2013 - June 17, 2013</strong>
				</p>
			</td>
			<td width="281" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a honeymoon suite at the Amsterdam Inn located at 5999 Bishop Dr, Fredericton,
						NB and two (2) passes to the Lobster Tale Cruise located at 60 Pointe-Du- Ch&#234;ne, Wharf Road, Pointe-Du- Ch&#234;ne, NB (2.5 hours
						in duration including a Lobster meal) with Shediac Bay Cruises. Lobster Tale Cruise is subject to seasonal operating hours (June to
						September) and a minimum of twelve reservations. Parking is not included.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$305.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="195" valign="top">
				<p>
					<strong>Group two:</strong>
				</p>
				<p>
					<strong>June 18, 2013 - July 15, 2013</strong>
				</p>
			</td>
			<td width="281" valign="top">
				<p>
					<strong>
						Two (2) nights' accommodations based on double occupancy in a standard room at the Comfort Inn Magnetic Hill located at 2495 Mountain
						Rd, Moncton, NB and four (4) general admission passes to Magnetic Hill Zoo located at 125 Magic Mountain Road, Moncton, NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$255.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="195" valign="top">
				<p>
					<strong>Group Three:</strong>
				</p>
				<p>
					<strong>July 16, 2013 - August 5, 2013</strong>
				</p>
			</td>
			<td width="281" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a deluxe room at the Casino New Brunswick located at 21 Casino Dr, Moncton, NB
						and two (2) tickets to McSweeney dinner theatre located at 700 Main Street, Moncton, NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$270.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="195" valign="top">
				<p>
					<strong>Group Four:</strong>
				</p>
				<p>
					<strong>August 6, 2013 - August 26, 2013</strong>
				</p>
			</td>
			<td width="281" valign="top">
				<p>
					<strong>
						Two (2) nights' accommodations based on double occupancy in a standard room at the Comfort Inn Moncton East located at 20 Maple Wood
						DR, Moncton, NB and four (4) general admission passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission
						is valid for two (2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$255.00 CDN</strong>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>WEEKLY VOTING PRIZES</strong>
</p>
<table border="1" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Weekly Voting Prize</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>Prize Description</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>Approximate retail value</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week one: </strong>
				</p>
				<p>
					<strong>September 3 - 9, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						Four (4) general admission passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two
						(2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$24.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week two: </strong>
				</p>
				<p>
					<strong>September 10 - 16, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Rodd Moncton located at 434 Main Street, Moncton, NB and
						four (4) general admission passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two
						(2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$159.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week three: </strong>
				</p>
				<p>
					<strong>September 17 - 23, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Rodd Moncton located at 434 Main Street, Moncton, NB and
						four (4) general admission passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two
						(2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$159.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week four: </strong>
				</p>
				<p>
					<strong>September 24 - 30, 2013 </strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at Rodd Moncton located at 434 Main Street, Moncton, NB and
						four (4) general admission passes to Hopewell Rocks located at Hopewell Cape, Moncton, NB. Hopewell Rocks admission is valid for two
						(2) consecutive days.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$159.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week five: </strong>
				</p>
				<p>
					<strong>October 1 - 7, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a King room at the Hampton Inn &amp; Suites located at 700 Mapleton Road,
						Moncton, NB and two (2) tickets to the Moncton Miracles 2013/2014 season home opener located at 40 Rue Main Street, Moncton, NB.
						Anticipated season opener is November 2013.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$190.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week six: </strong>
				</p>
				<p>
					<strong>October 8 - 14, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						Two (2) tickets to the Moncton Miracles 2013/2014 season home opener located at 40 Rue Main Street, Moncton, NB and a $25.00 gift
						certificate to the Garden Breezes Restaurant located at 500 Rue Kennedy, Dieppe, NB.
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$65.00 CDN</strong>
				</p>
			</td>
		</tr>
		<tr>
			<td width="192" valign="top">
				<p>
					<strong>Week seven: </strong>
				</p>
				<p>
					<strong>October 15 - 22, 2013</strong>
				</p>
			</td>
			<td width="284" valign="top">
				<p>
					<strong>
						One (1) night accommodation based on double occupancy in a standard room at the Magnetic Hill Winery located at 860 Front Mountain
						Road, Moncton, NB and two (2) tickets to the Moncton Miracles 2013/2014 season home opener located at 40 Rue Main Street, Moncton, NB.
						Anticipated season opener is November 2013
					</strong>
				</p>
			</td>
			<td width="109" valign="top">
				<p>
					<strong>$155.00 CDN</strong>
				</p>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<strong>BEST VIDEO PRIZE:</strong>
	<strong>
		There will be one (1) Best Video Prize available to be won. The Best Video Prize consists of two (2) night's accommodations based on quadruple
		occupancy in a themed kids' suite (Space; Jungle; Hockey; Harry's or Under the Sea) at the Holiday Inn Express &amp; Suites, located at 2515 Mountain
		Road, Moncton, NB; four (4) general admission passes to Magic Mountain Waterpark located at 2875 Mountain Road, Moncton, NB, four (4) general admission
		passes to Magnetic Hill Zoo located at 125 Magic Mountain Road, Moncton, NB; four (4) general admission passes to Hopewell Rocks located at Hopewell
		Cape, Moncton, NB; four (4) general admission passes to Pays de la Sagouine located at 57 Acadie Street, Bouctouche, N B. The approximate retail value
		of the Best Video Prize is $595.00 CDN. The Holiday Inn Express &amp; Suites themed kids' suite is subject to availability at the time of reservations
		and must be redeemed on or before December 15, 2013. The winner and his/her guest are responsible for applicable room taxes and any other purchases
		while staying at the Holiday Inn Express &amp; Suites. The winner and his/her guest will be required to provide a valid credit card at the time of
		check in. The four (4) general admission passes to Magic Mountain are valid during the 2014 season (Magic Mountain is open Monday to Sunday during the
		months of July August 2014 and weekends only in June 2014). The
	</strong>
	General admission passes include unlimited access for the day to all water attractions during normal operating hours and excludes double tubes, lockers,
	Pier 36 Mini-Golf, and The Arcade which are available at additional cost.
	<strong>
		The four (4) passes to Magnetic Hill Zoo are valid until August 30, 2014 subject to operating hours at the time of redemption. The four (4) passes to
		Hopewell Rocks are valid from mid May 2014 to mid October 2014 subject to operating hours at the time of redemption. The four (4) passes to Pays de la
		Sagouine are valid from June 2014 to September 2014 subject to operating hours at the time of redemption.
	</strong>
The winner and his/her guests are responsible for his/her own transportation to and from the winner's residence and all locations defined in the prize.	<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>BEST PHOTOPGRAPH PRIZE:</strong>
	<strong>
		There will be one (1) Best Photograph Prize available to be won. The Best Photograph Prize consists of two (2) night's accommodations based on
		quadruple occupancy in a standard room at the Comfort Inn,; four (4) general admission passes to Hopewell rocks; four (4) general admission passes to
		Magnetic Hill Zoo; four (4) general admission passes to Pays de la Segouine and four (4) dinner passes while at the Pays de la Segouine; a $25.00 CDN
		gift certificate for Garden Breeze restaurant located at 500 Rue Kennedy, Dieppe, NB. Approximate retail value of the Best Photograph Prize is $599.00
		CDN. Comfort Inn accommodations are subject to availability at the time of reservations and must be redeemed on or before December 15, 2013. The winner
		and his/her guest are responsible for applicable room taxes and any other purchases while staying at the Comfort Inn. The winner and his/her guest will
		be required to provide a valid credit card at the time of check in. The four (4) passes to Magnetic Hill Zoo are valid until August 30, 2014 subject to
		operating hours at the time of redemption. The four (4) passes with dinner to Pays de la Sagouine are valid from June 2014 to September 2014 subject to
		operating hours at the time of redemption.
	</strong>
The winner and his/her guests are responsible for his/her own transportation to and from the winner's residence and all locations defined in the prize.	<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>RUNNER UP VIDEO PRIZE:</strong>
	<strong>
		There will be one (1) Runner-up Video Prize available to be won. The Runner-up Video prize consists of one (1) Sunday night stay at the Ramada Crystal
		Palace located at 499 Paul Street, Moncton, NB in the "Fantasy Suite" based on double occupancy; a $25.00 CDN gift certificate valid on Sunday's only
		at the McGinnis Landing located at 499 Paul Street, Moncton, NB; and two (2) tickets to the Atlantic Ballet Theatre of Canada's performance of Phantom
		at the Capitol Theatre. The approximate retail value of the Runner-up Video Prize is $xxx.xx CDN. Ramada Crystal Palace "Fantasy Suite" is subject to
		availability at the time of reservations and the Sunday night stay voucher must be redeemed on or before December 15, 2013. The winner and his/her
		guest are responsible for applicable room taxes and any other purchases while staying at the Ramada Crystal Palace. The winner and his/her guest will
		be required to provide a valid credit card at the time of check in. The $25.00 gift certificate for McGinnis Landing is redeemable on Sunday's only and
		does not include gratuities.
	</strong>
	If a purchase exceeds the value of the gift card, the winner and his/her guest(s) will be responsible for any amount due that exceeds the value of the gift
	card (or the available balance at the time of purchase), including any applicable taxes. If any purchase does not exceed the gift card value, subject to
	applicable law, the remaining available balance will not be paid in cash to the winner but will remain on the gift card. The winner and his/her guest are
	responsible for his/her own transportation to and from the winner's residence and the hotel location and restaurant location.<strong></strong>
</p>
<p>
	<strong></strong>
</p>
<p>
	<strong>RUNNER UP PHOTOGRAPH PRIZE:</strong>
	There will be one (1) Runner-up Photograph Prize available to be won. The Runner-up Photograph Prize consists of one (1) Sunday night stay at the Ramada
	Crystal Palace in the "Fantasy Suite"; a $25.00 CDN gift certificate valid at the McGinnis Landing in xxxx; two (2) tickets to the Atlantic Ballet Theatre
	of Canada's performance of Phantom at the Capital Theatre. The approximate retail value of the Runner-up Photograph Prize is $XXX.xx CDN.
	<strong>
		Ramada Crystal Palace "Fantasy Suite" is subject to availability at the time of reservations and the Sunday night stay voucher must be redeemed on or
		before December 15, 2013. The winner and his/her guest are responsible for applicable room taxes and any other purchases while staying at the Ramada
		Crystal Palace. The winner and his/her guest will be required to provide a valid credit card at the time of check in. The $25.00 gift certificate for
		McGinnis Landing is redeemable on Sunday's only and does not include gratuities.
	</strong>
	If a purchase exceeds the value of the gift card, the winner and his/her guest(s) will be responsible for any amount due that exceeds the value of the gift
	card (or the available balance at the time of purchase), including any applicable taxes. If any purchase does not exceed the gift card value, subject to
	applicable law, the remaining available balance will not be paid in cash to the winner but will remain on the gift card. The winner and his/her guest are
	responsible for his/her own transportation to and from the winner's residence and the hotel location and restaurant location.
</p>
<p>
	<strong>WEEKLY SUBMISSION, JUDGES SELECTIONS AND WEEKLY VOTING PRIZE CONDITIONS</strong>
	: All accommodations are
	<strong>
		subject to availability at the time of reservations and must be redeemed on or before December 15, 2013. The winner and his/her guest(s) are
		responsible for applicable room taxes and any other purchases while staying at the location. Either the winner or his/her guest will be required to
		provide a valid credit card at the time of check in. Either
	</strong>
	winner or his/her guest(s) are responsible for his/her own transportation to and from the winner's residence and all locations defined in each prize.
	Passes
	<strong>
		to Magnetic Hill Zoo are valid until August 30, 2014 subject to operating hours at the time of redemption. Passes to Hopewell Rocks are valid from mid
		May 2014 to mid October 2014 subject to operating hours at the time of redemption. Passes to Pays de la Sagouine are valid from June 2014 to September
		2014 subject to operating hours at the time of redemption.
	</strong>
</p>
<p>
	Prizes are not transferable and must be accepted as awarded with no substitutions and have no cash surrender value. Sponsor reserves the right, in its sole
	and absolute discretion, and for any reason whatsoever, to substitute a Prize or any component of a Prize.
</p>
<p>
	13. <strong>WINNER CONFIRMATION:</strong> To be confirmed a winner, you must: (i) reply to potential winner notification within the indicated time frame by
	email; (ii) correctly answer without assistance of any kind, whether mechanical or otherwise, a time-limited, mathematical skill-testing question to be
	administered by email or telephone; (iii) be in full compliance with these Official Rules; and (iv) sign and return via email, fax, registered mail,
	express mail or courier delivery within indicated time frame of it being sent, Sponsor's Declaration of Compliance with these Contest Rules and a Release
	of Liability and Publicity Release form ("<strong>Prize Form</strong>"). If any selected individual cannot be contacted and confirmed a winner as above,
	he/she will be disqualified at the sole and absolute discretion of the Sponsor and/or Selection Committee, his/her entitlement to receive a Prize will be
	forfeited, and awarded to an alternate eligible individual as specified for each Prize. No correspondence will be entered into except with selected
	individuals. Within forty-five (45) days of receiving a signed Prize Form each individual will be sent his/her prize by mail or courier.
</p>
<p>
	14. <strong>RELEASE OF LIABILITY CONSENT TO PUBLICITY:</strong> By completing and returning the Prize Form, and accepting the Prize, the winner: (i)
	confirms compliance with the Official Rules; (ii) acknowledges that the Prize is not transferable (except as provided for herein and only at Sponsor's sole
	and absolute discretion), and must be accepted as awarded or otherwise except where stated; (ii) consents to the use of his/her name, address (city and
	province, state), video, photographs, image or illustration submitted, statements regarding the Contest or the Prize and/or voice, without further
	remuneration, in connection with any publicity carried out by or on behalf of Sponsor with respect to the Contest in any media whatsoever unless restricted
	by law; and (iii) releases Sponsor, insert prize suppliers names, their affiliates (including, without limitation, its parent, sister and subsidiary
	companies), advertising and promotional agencies, the Selection Committee, suppliers of materials or services related to the Contest and all of their
	respective shareholders, directors, officers, employees and agents (collectively, the "<strong>Releasees</strong>") from and against all liability in
	connection with the Contest and/or the awarding and/or use of a Prize, including, as set out below in the <strong>LIMITATION OF LIABILITY</strong> section
	and consent to irrevocably assign and transfer to or waive in favour the Sponsor any and all rights, title, interest and claim, which they now have or may
	have in the future, to the photograph or video submission, and the concepts and Third Party Elements embodied therein, including without limitation, the
	copyright and/or moral rights therein.
</p>
<p>
	15. <strong>LIMITATION OF LIABILITY:</strong> The Releasees do not assume any responsibility and individuals release the Releasees from any and all claims,
	actions, damages, demands and liabilities of whatever nature or kind arising out of, or in connection with the individuals participation or attempted
	participation in the Contest, including, without limitation the administration of the Contest, the selection and confirmation of the winner, and the
	arranging, awarding and use of any Prize. Without limiting the generality of the forgoing, the Releasees are not responsible for (i) the incorrect or
	inaccurate capture of entry information; (ii) late, lost, stolen, illegible, contain false information, damaged, misdirected, mutilated, garbled or
	incomplete photograph or video submissions, votes, views, photograph or video submissions, votes, views, entries that are altered or otherwise irregular,
	have been submitted through illicit means or do not conform with or satisfy any or all of the conditions of the Official Rules; (iii) any loss, damage, or
	claims caused by the awarded Prize or the Contest itself; (iv) any failure of the website during the Contest Period, including, without limitation, any
	problems, human or technical, printing errors, lost, delayed, garbled data or transmissions, omissions, interruptions, deletions, defects or failures of
	any telephone or computer lines, technical malfunctions of any computer online systems, servers, access providers, computer equipment, software, failure of
	any email or entry to be received on account of technical problems or traffic congestion on the Internet or at any website, or any combination thereof
	including, without limitation, any injury or damage to an individual's or any other person's computer related to or resulting from participating in or
	downloading any material connected to the Contest, all of which may affect a person's ability to participate in the Contest; (v) any errors, omissions,
	incorrect or inaccurate information in any Contest-related materials, including, without limitation, printing or advertising errors or failure of, or
	problems with any equipment or programming associated with or used in the Contest howsoever caused; (vi) the security or privacy of information transmitted
	via computer networks or for breaches of privacy due to interference by third party computer "hackers" or otherwise or (vii) any claims regarding the
	accepting, arranging, awarding or use of any Prize. Entry material/data that has been tampered with or altered is void.
</p>
<p>
	16. <strong>CONDITIONS OF ENTRY:</strong> By entering the Contest, individuals agree to read and abide by these Official Rules and the decisions of the
	Selection Committee and Sponsor, made in their sole and absolute discretion, which shall be final and binding in all matters relating to this Contest and
	the awarding of a Prize. Individuals who have not complied with these Official Rules are subject to disqualification.
</p>
<p>
	17. <strong>UNSPORTSMANLIKE CONDUCT:</strong> Sponsor reserves the right, in its sole and absolute discretion, to disqualify any individual that it or
	Selection Committee finds to be: (a) violating the Official Rules; (b) tampering or attempting to tamper with the entry process or the operation of the
	Contest or the Contest Website; (c) acting in an unsportsmanlike or disruptive manner, or with the intent to annoy, abuse, threaten or harass any other
	person or (d) attempting to undermine the legitimate operation of the Contest by cheating, hacking, deception, or other unfair playing practices or
	intending to annoy, abuse, threaten or harass any other entrants or Sponsor representatives. If Sponsor suspects that an individual has engaged in an
	unsportsmanlike or disruptive manner, the individual will be contacted as soon as practicable. CAUTION: ANY ATTEMPT BY AN INDIVIDUAL OR ANY OTHER
	INDIVIDUAL TO DELIBERATELY DAMAGE ANY WEBSITE ASSOCIATED WITH THIS CONTEST OR TO UNDERMINE THE LEGITIMATE OPERATION OF THIS CONTEST MAY BE A VIOLATION OF
	CRIMINAL AND/OR CIVIL LAWS. SHOULD ANY SUCH ATTEMPT BE MADE, SPONSOR RESERVES THE RIGHT TO SEEK REMEDIES AND DAMAGES TO THE FULLEST EXTENT PERMITTED BY LAW
	AND TO BAN OR DISQUALIFY AN ENTRANT FROM THIS AND FUTURE CONTESTS.
</p>
<p>
	18. <strong>DISPUTE REGARDING THE IDENTITY OF AN ENTRANT:</strong> Eligible entrants, voters and winners will be the persons who registered and who
	submitted the photograph or video. If a dispute arises regarding who submitted an online entry, the entry will be deemed to have been submitted by the
	authorized account holder of the email address and profile provided at the time of entry provided the name of the authorized account holder corresponds
	with the full name on the entry form. The authorized account holder is defined as the natural person who is assigned an email address and profile by an
	Internet access provider, online service provider, or other organization responsible for assigning email addresses and profiles for the domain associated
	with the submitted email address. If the name of the authorized account holder does not accord with the full name on the entry form, the entry may be
	disqualified at the Selection Committee and/or Sponsor's sole and absolute discretion.
</p>
<p>
	19. <strong>FOR QUEBEC RESIDENTS:</strong> Any litigation respecting the conduct and awarding of a prize may be submitted to the R&#233;gie des alcools,
	des courses et des jeux for a ruling. Any litigation respecting the awarding of a Prize may be submitted to the R&#233;gie des alcools, des courses et des
	jeux only for the purpose of helping the parties reach a settlement.
</p>
<p>
	20. <strong>GENERAL:</strong> This Contest is void where prohibited by law and is subject to all applicable federal, provincial and municipal laws and
	regulations. Sponsor reserves the right, with the consent of the R&#233;gie des alcools, des courses et des jeux for Quebec, to terminate, modify, or
	suspend this Contest or to amend the Official Rules at any time and in any way, without prior notice, for any reason whatsoever. Without limiting the
	foregoing, if for any reason the Contest is not capable of running as originally planned, for example as a result of tampering or infection by computer
	virus, Sponsor reserves the right, with the consent of the R&#233;gie des alcools, des courses et des jeux for Quebec, to terminate the Contest and conduct
	a random draw or selection process from all previously received eligible entries.
</p>
<p>
	21. <strong>RULES GOVERN</strong><strong>: </strong>In the event of any discrepancy or inconsistency between the Official Rules and disclosures or other
	statements contained in any Contest related materials, including, but not limited to, the Contest entry form, the Official Rules shall prevail, govern and
	control.
</p>
<p>
	22. <strong>CONSENT TO USE PERSONAL INFORMATION:</strong> Sponsor respects your right to privacy. By participating in this Contest you consent and agree to
	Sponsor's collection and use of your information to administer this Contest.
</p>
<p>
	23. <strong>RELEASE OF LIABILITY - FACEBOOK</strong> This Contest is in no way sponsored, endorsed or administered by, or associated with, Facebook&#174;.
	You understand that you are providing your information to The City of Moncton and not to Facebook. The information you provide will be used in accordance
	with the Sponsor's Privacy Policy. Facebook&#174; is a registered trademark of Facebook, Inc. and is not associated with or licensed by The City of
	Moncton.
</p>